<li
  [ngClass]="{
  'list-group-item': true,
  'list-group-item-dark': loveIts==0,
  'list-group-item-success': loveIts>0,
  'list-group-item-danger': loveIts<0
  }"
>
  <h3>{{ postTitle }}</h3>
  <p>
    <span class="badge pull-right"
      >{{ postDate | date:"MM/dd/yyyy, h:mm a'"}}</span
    >
  </p>
  <div class="heart"></div>
  <span>{{ loveIts }}</span> <br /><br />
  <p>{{ postContent }}</p>
  <button type="button" class="btn btn-success" (click)="onLoveIts()">
    Love It !
  </button>
  <button type="button" class="btn btn-danger" (click)="onDoesNotLoveIts()">
    Don't love It !
  </button>
</li>
